{% extends 'groups/base.html'%}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile-detail' object.owner.username%}">{{ object.name }}</a>
            <em class="text-muted">{{ object.course.subject}} {{ object.course.catalog_number}}</em>
            <div>
                <a class="btn btn btn-outline-info btn-sm mt-1 mb-1"
                    href="{% url  'message-group' object.id  %}">Message
                    Group</a>
                {% if object.owner == user%}
                <a class="btn btn-outline-success btn-sm mt-1 mb-1" href="{% url 'finder-buddy' %}">Add a Buddy</a>
                <a class="btn btn-outline-success btn-sm mt-1 mb-1" href="{% url 'group-update' object.id%}">Update</a>
                <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'group-delete' object.id%}">Delete</a>
                {% endif %}
                {% if object.owner != user and user.profile in object.members.all%}
                <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" name="group"
                    href="{% url 'group-removeself' object.id%}">Leave Group</a>
                {% endif %}
            </div>

            {% if object.private != false and user.profile not in object.members.all%}
            <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" name="group"
                href="{% url 'group-addself' object.id%}">Join Group</a>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.name }}</h2>
        <p class="article-content">{{ object.description }}</p>
        <h5>Meeting Link: <a href="{{object.meeting_url}}" target="_blank"> {{object.meeting_url}}</a></h5>
        <h5>Group Members: </h5>
        <ul>
            {% for member in object.members.all %}
            <li><a class="mr-2" href="{% url 'profile-detail' user.username%}">{{member.user.username}}</a></li>
            {% endfor %}
        </ul>

        <a class="btn btn-outline-secondary" href="{% url 'group-home'%}">Back to Groups</a>
    </div>
</article>
{% endblock content %}