{% extends 'social_app/login_base.html'%}
{% load socialaccount %}
{% block main %}
<div class="container">
    <div class="d-flex align-items-center flex-column  justify-content-center login">
        <header>Study Connect </header>
        <header class=" mt-5">📓✏️</header>
        <button type="button" class="btn btn-success submit-button mt-5">
            <a href="{% provider_login_url 'google' %}">Login with Google</a>
        </button>
        <h4 class="mt-5">Find your next study group.</h4>
        <h6 class="mt-5">Created by TheStudyBuddies</h6>
    </div>
</div>
{% endblock main %}