{% extends 'social_app/base.html'%}
{% block content %}
<div class="content-section">
    <div class="row">
        <div class="col-md-6 m-auto">
            <div><b>{{ object.user.first_name }} {{ object.user.last_name }}</b></div>
            <div> <b>Major:</b> {{ object.major }}</div>
            <div><b>Courses:</b> 
                {% for StudentCourse in object.studentcourse_set.all %}
                    {% if StudentCourse == object.studentcourse_set.last%}
                        {{ StudentCourse.subject}} {{ StudentCourse.catalog_number}}
                    {% else %}
                    {{ StudentCourse.subject}} {{ StudentCourse.catalog_number}},
                    {% endif %}
                {% endfor %}
            </div>
            <p><b>Bio:</b> {{object.bio}}</p>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'message' %}">Message {{ object.user.first_name }}</a>
        </div>
        {% if object.user == user%}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'profile-edit' %}">Edit Profile</a>
        </div>
        {% endif %}
    </div>

</div>
{% endblock content %}