<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="">StuddyConnect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto navbar-center">
            <li class="nav-item active">
                <a class="nav-link" href="#">Partner<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'group-home'%}">Group</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'discussion-home'%}">Discussion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile-edit'%}">Profile</a>
            </li>
        </ul>
    </div>
    <button class="btn btn-outline-dark">
        <a href="/accounts/logout">Log Out</a>
    </button>
</nav>