{% extends 'finder/base.html'%}


{% block content %}

<div class="d-flex flex-column justify-content-center text-center mb-4">

    <h6>Find Your Next Study Group 🧠! Select a class to find class study groups. Click on one to join!</h6>
    <form action="{% url 'finder-group' %}" method="get">
        <label for="course">Class</label>
        <select name="course">
            <option value="">-----------------</option>
            {%for course in user.profile.studentcourse_set.all %}
            <option value="{{course.id}}">{{ course.subject}} {{ course.catalog_number}}</option>
            {% endfor %}
            <input class="btn btn-primary ml-2" type="submit" />
    </form>
    {% if course != None%}
    <h3>Groups for {{ course.subject}} {{ course.catalog_number}}</h3>
    {% else %}
    <h3>All Public Groups</h3>
    {%endif%}
</div>

{% for group in groups %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile-detail' group.owner.username%}">{{ group.owner}}</a>
            <em class="text-muted">{{ group.course.subject}} {{ group.course.catalog_number}}</em>
        </div>
        <h2><a class="article-title" href="{% url 'group-detail' group.id%}">{{ group.name }}</a></h2>
        <p class="article-content">{{ group.description }}</p>
        <h5>Group Members: </h5>
        <ul>
            {% for member in group.members.all %}
            <li><a class="mr-2" href="{% url 'profile-detail' user.username%}">{{member.user.username}}</a></li>
            {% endfor %}
        </ul>

    </div>
</article>
{% endfor %}

{% endblock content %}