{% extends 'finder/base.html'%}


{% block content %}

<div class="d-flex flex-column justify-content-center text-center mb-3">
    <a href="{% url 'finder-buddy'%}"><button type="button" class="btn btn-success btn-lg btn-block mb-5">🔎 Find
            Your Next
            Study <b>Buddy 😃</b> </button></a>
    <a href="{% url 'finder-group'%}"><button type="button" class="btn btn-success btn-lg btn-block">🔎 Find Your
            Next
            Study <b>Group 🧠</b> </button></a>
</div>

{% endblock content %}